<h2>Filters</h2>
    <label>From: </label>
    <input type="date" name="startDate" class="form-check-label"  id="startDate" value="2019-07-01">
    <label>To: </label>
    <input type="date" name="endDate" class="form-check-label" id="endDate" value="2019-07-31">
    <button class="btn btn-primary" id="chartButton">Atualizar</button>

    <canvas id="completeChart"></canvas>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/dashboard.js" charset="utf-8"></script>