<main class="header">

  <div class="main-title">
    <h1>Super Title</h1>
  </div>

  <div class="header-text">
    <article>
      <p>A convincent text talking about this fruit</h3>
    </article>
    <a class="cta-header" href="#">Call to action</a>
  </div>

</main>
<section class='why-section'>

  <h2>Why?</h2>
  <div class='div-why'>
    <feature class='why-card'>
      <figure class='round'>
        <img>
      </figure>
      <p></p>
    </feature>
    <feature class='why-card'>
      <img>
      <p></p>
    </feature>
    <feature class='why-card'>
      <img>
      <p></p>
    </feature>
  </div>
  <button></button>

</section>

<section>
  <h2>Cool</h2>
  <div class='slider'>
    <figure class="cool-image-slide">
      <img>
    </figure>
    <figure class="cool-image-slide">
      <img>
    </figure>
    <figure class="cool-image-slide">
      <img>
    </figure>
    <figure class="cool-image-slide">
      <img>
    </figure>
    <figure class="cool-image-slide">
      <img>
    </figure>
  </div>

</section>

<section>

  <h2>Recipes</h2>
  <div class='slider'>
    <div class="card-recipe">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a receipt</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>
    <div class="card-recipe">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a receipt</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>
    <div class="card-recipe">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a receipt</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>

  </div>


</section>

<section>
  <h2>Beauty</h2>
  <div>
    <div class="principal-card-beauty">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a receipt</h3>
        <p>Description</p>
        <button><a href="">Link</a></button>
      </div>
    </div>
  </div>
  <div class='slider'>
    <div class="minors-card-beauty">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a beauty</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>
    <div class="minors-card-beauty">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a beauty</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>
    <div class="minors-card-beauty">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a beauty</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Easy</h2>
  <div>
    <feature>
      <img>
      <p></p>
    </feature>
    <feature>
      <img>
      <p></p>
    </feature>
  </div>
  <button><a>Link</a></button>
</section>

<section>
  <form action="/auth/signup" method="POST" id="form-container">	
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="e.g.: John Doe">

    <br><br>

    <label for="email">Email</label>
    <input id="email" type="text" name="email" placeholder="example@address.com">

    <br><br>

    {{#if message }}
      <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Create account</button>

    <p class="account-message">
      Do you already have an account?
      <a href="/auth/login">Login</a>
    </p>
  </form>

</section>
<section>
  <div id="map"></div>
</section>
</main>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>