<main class="header">

  <div class="header-image">
    <div class='title-lines'>
      <h1 id='main-title-line1'>Don't Kale</h1>
      <h1 id='main-title-line2'>MY VIBE</h1>
      <div class='Elipse-2'></div>
    </div>
  </div>


  <div class="header-text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, sint maiores nulla earum similique, inventore ipsum quas quaerat rerum, quidem ad eius corrupti numquam? Minus iure aperiam voluptatum incidunt commodi.</p>
    <button class='blue-button'><a class="cta-header" href="#">GET YOUR CUPOM</a></button>
  </div>

</main>
<section>

  <div class='cool-title'>
    <h2>COOL</h2>
  </div>

  <h3 class='what-they-talk'>WHAT THEY ARE TALKING ABOUT?</h3>

  <div class='slider'>
    <div id='img-1' class="cool-image-slide">
    </div>
    <div id='img-2' class="cool-image-slide">
    </div>
    <div id='img-3' class="cool-image-slide">
    </div>
  </div>

</section>




<section class='form-section'>
  <form action="/auth/signup" method="POST" id="form-container">	
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="e.g.: John Doe">

    <br><br>

    <label for="email">Email</label>
    <input id="email" type="text" name="email" placeholder="example@address.com">

    <br><br>

    {{#if message }}
      <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Create account</button>

    <p class="account-message">
      Do you already have an account?
      <a href="/auth/login">Login</a>
    </p>
  </form>

</section>
<section>
  <div id="map"></div>
</section>
</main>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>
