<main class="header">

  <div class="main-title">
    <h1>Super Title</h1>
  </div>

  <div class="header-text">
    <article>
      <p>A convincent text talking about this fruit</h3>
    </article>
    <a class="cta-header" href="#">Call to action</a>
  </div>

</main>