<main class="header">

  <div class="main-title">
    <h1>Super Title</h1>
  </div>

  <div class="header-text">
    <article>
      <p>A convincent text talking about this fruit</h3>
    </article>
    <a class="cta-header" href="#">Call to action</a>
  </div>

  <br><br>

  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="example@address.com">

  <br><br>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
<div id="map"></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>
</main>
