<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">

  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="e.g.: John Doe">

  <br><br>

  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="example@address.com">

  <br><br>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
