<main class="header">

  <div class="header-image">
    <div class='title-lines'>
      <h1 id='main-title-line1'>Don't Kale</h1>
      <h1 id='main-title-line2'>MY VIBE</h1>
      <div class='Elipse-2'></div>
    </div>
  </div>


  <div class="header-text">
    <p>oaldnhafadshfkadshfhdash</p>
    <button class='blue-button'><a class="cta-header" href="#">GET YOUR CUPOM</a></button>
  </div>

</main>
<section class='why-section'>
  <div class='why-title'>
    <h2>WHY?</h2>
  </div>

  <div class='div-why'>
    <feature class='why-card'>
      <figure class='round'>
        <img>
      </figure>
      <p></p>
    </feature>
    <feature class='why-card'>
      <img>
      <p></p>
    </feature>
    <feature class='why-card'>
      <img>
      <p></p>
    </feature>
  </div>
  <button></button>

</section>

<section>

  <div class='cool-title'>
    <h2>COOL</h2>
  </div>

  <h3 class='what-they-talk'>WHAT THEY ARE TALKING ABOUT?</h3>

  <div class='slider'>
    <div id='img-1' class="cool-image-slide">
    </div>
    <div id='img-2' class="cool-image-slide">
    </div>
    <div id='img-3' class="cool-image-slide">
    </div>
  </div>

</section>

<section>

  <h3 class='what-they-talk'>LET'S DRINK COCONUTZ</h3>

  <div class='slider'>
    <div class="card-recipe">
      <figure><img src="" alt=""></figure>
      <div>
        <p>DRINK</p>
        <h3>Pina Colada</h3>
        <p>Ingredients</p>
        <ul>
          <li></li>
        </ul>
        <a href="">Link</a>
      </div>
    </div>
    <div class="card-recipe">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a receipt</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>
    <div class="card-recipe">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a receipt</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>

  </div>


</section>

<section>
  <div class='beauty-title'>
    <h2>BEAUTY</h2>
  </div>
  <div>
    <div class="principal-card-beauty">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a receipt</h3>
        <p>Description</p>
        <button><a href="">Link</a></button>
      </div>
    </div>
  </div>
  <div class='slider'>
    <div class="minors-card-beauty">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a beauty</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>
    <div class="minors-card-beauty">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a beauty</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>
    <div class="minors-card-beauty">
      <figure><img src="" alt=""></figure>
      <div>
        <h3>Hello I am a beauty</h3>
        <p>Description</p>
        <a href="">Link</a>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>EASY</h2>
  <div>
    <feature>
      <img>
      <p></p>
    </feature>
    <feature>
      <img>
      <p></p>
    </feature>
  </div>
  <button><a>Link</a></button>
</section>
<br><br>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="e.g.: John Doe">

  <br><br>

  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="example@address.com">

  <br><br>

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
<div id="map"></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>
</main>